[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jc = "==1.25.6"
requests = "==2.33.0"
tabulate = "==0.10.0"

[dev-packages]
pylint = "==4.0.5"

[requires]
python_version = "3.14"
